bib-cite.numeric.parenthesis:first-of-type::before, bib-cite.numeric.parenthesis:only-child::before {
	content: "[";
}
bib-cite.numeric.parenthesis:last-of-type::after, bib-cite.numeric.parenthesis:only-child::after {
	content: "]";
}
bib-cite.numeric.parenthesis:not(:last-of-type):not(:only-child)::after {
	content: ","
}

bib-cite.author-year.parenthesis:first-of-type::before, bib-cite.author-year.parenthesis:only-child::before {
	content: "(";
}
bib-cite.author-year.parenthesis:last-of-type::after, bib-cite.author-year.parenthesis:only-child::after {
	content: ")";
}
bib-cite.author-year.parenthesis:not(:last-of-type):not(:only-child)::after {
	content: ";"
}